alias code='cd ~/Code'
alias c='clear'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias t='./vendor/bin/phpunit'
alias x=xdebug-toggle

alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

alias rmds="find . -type f -name '*.DS_Store' -ls -delete"

alias ssh_new_alias='~/dotfiles/ssh-alias/ssh-alias-new.rb'
alias ssh_list_aliases='~/dotfiles/ssh-alias/ssh-alias-list.rb'
alias ssh_rm_alias='~/dotfiles/ssh-alias/ssh-alias-delete.rb'

alias flushdns='sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder;echo "✌️ DNS flushed"'
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

alias -g @="| grep"