[user]
  name = Andrej Mihaliak
  email = andrej.mihaliak@gmail.com

[github]
  user = mihaliak

[core]
  excludesfile = ~/.gitignore_global

[alias]
  a = "add ."
  c = commit
  p = push
  s = status -sb
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  m = !"bash -c 'git branch | grep -v 'master' | xargs git branch -D'"
  nah = !"bash -c 'git reset --hard && git clean -df'"
  master = checkout master
