[user]
	name = Andrej Mihaliak
	email = andrej.mihaliak@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA6XJkv1UW9NY5Ie/L0XZemzXoBtwdVR9zse7hdJIlnl
[github]
  user = mihaliak
[core]
	excludesfile = /Users/andrejmihaliak/.gitignore_global
[alias]
  a = "add ."
  c = commit
  p = push
  s = status -sb
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  m = !"bash -c 'git branch | grep -v 'master' | xargs git branch -D'"
  nah = !"bash -c 'git reset --hard && git clean -df'"
  master = checkout master
  yolo = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
  joke = !git commit -m \"$(curl -s https://icanhazdadjoke.com)\"
  f = !"bash -c 'git checkout -b feature/$0'"
  o = !"bash -c 'git checkout $0'"
[pull]
	rebase = false
[commit]
	gpgsign = true
[init]
  defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
